/* GLOBALS */
:root {
    /* COLOURS */
    /* Primary */
    /* 96.7% */
    --primary-background: #EEFAFF;
    /* 90% */
    --primary-lightest: #CCF0FF;
    /* 66.7% */
    --primary-light: #55CCFF;
    /* 50% */
    --primary: #00B2FF;
    /* 33.3% */
    --primary-dark: #0077AA;
    /* 10% */
    --primary-darkest: #002433;

    /* Secondary */
    /* 90% */
    --secondary-lightest: #FFE7CC;
    /* 66.7% */
    --secondary-light: #FFB055;
    /* 50% */
    --secondary: #FF8900;
    /* 33.3% */
    --secondary-dark: #AA5B00;
    /* 10% */
    --secondary-darkest: #331B00;

    /* Grays */
    /* 90% */
    --grey-lightest: #E5E5E5;
    /* 66.7% */
    --grey-light: #AAAAAA;
    /* 50% */
    --grey: #808080;
    /* 33.3% */
    --grey-dark: #555;
    /* 10% */
    --grey-darkest: #1A1A1A;

    /* Ionic Colour Overrides */
    --ion-color-primary: #0077AA;
    --ion-color-primary-rgb: 0, 178, 255;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #009de0;
    --ion-color-primary-tint: #1abaff;

    --ion-color-secondary: #FF8900;
    --ion-color-secondary-rgb: 255, 137, 0;
    --ion-color-secondary-contrast: var(--primary-background);
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e07900;
    --ion-color-secondary-tint: #ff951a;

	--ion-color-text: #0077AA;
	--ion-color-text-rgb: 0,119,170;
	--ion-color-text-contrast: #ffffff;
	--ion-color-text-contrast-rgb: 255,255,255;
	--ion-color-text-shade: #006996;
	--ion-color-text-tint: #1a85b3;
}

.ion-color-text {
	--ion-color-base: var(--ion-color-text);
	--ion-color-base-rgb: var(--ion-color-text-rgb);
	--ion-color-contrast: var(--ion-color-text-contrast);
	--ion-color-contrast-rgb: var(--ion-color-text-contrast-rgb);
	--ion-color-shade: var(--ion-color-text-shade);
	--ion-color-tint: var(--ion-color-text-tint);
}

ion-content {
    --ion-background-color: var(--primary-lightest);
}

ion-card {
    --ion-background-color: #fff;
}

body {
    background-color: var(--primary-lightest);
}

a {
    text-decoration: none;
}

.primary-button {
    color: var(--secondary);
}

/* SPLASH SCREEN */
.splashscreen__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.splashscreen__button--login {
    color: var(--primary-background) !important;
}

.splashscreen__button--register {
    margin-top: 28px;
}

.splashscreen__links {
    position: absolute;
    bottom: 0;
    right: 16px;
    display: flex;
}

.splashscreen__links ion-nav-link {
    padding: 8px;
    color: var(--primary-darkest) !important;
}

/* APP */
main {
    --ion-background-color: #CCF0FF;
}

:host {
    --background: var(--ion-background-color, #CCF0FF);
}